@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

body{


}


#intext{
  font-family: 'Josefin Slab', serif;

}


.slider {
     width: 50%;
        margin: 100px auto;

}


.animated-modal {
    animation-duration: 0.5s;
    background-color: rgb(57, 190, 185);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: -10;
}

.animated-modal-on {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

  #section0,
  #section1,
  #section2,
  #section3{
    background-size: cover;
    background-attachment: fixed;
  }


#btn-close-modal {
  width:100%;
  text-align: center;
  cursor:pointer;
  color:#fff;
}

#demo01{
  color:#fff;
  text-align: center;

}



#btn-close-modal2 {
  width:100%;
  text-align: center;
  cursor:pointer;
  color:#fff;
}

#demo02{
  color:#fff;
  text-align: center;

}





.menu {
  width: 100vw;
  height: 100vh;
  
  overflow: hidden;
  
  background-color: #ffffff;
  
  -webkit-clip-path: circle(0px at 50% 50%);
  clip-path: circle(0px at 50% 50%);
  
  transition: 1s;
}


.menu-active {
  -webkit-clip-path: circle(100% at center);
  clip-path: circle(100% at center);
}

i {
  position: absolute;
  top: 7px;
  left: 7px;
  color: white;
}


.sound {
  position:relative;
  top: 0px;
  left: 0px;
  color: black;
  cursor:pointer;
  padding-top: 5px;

}

#feather {
  position: absolute;
  top: 0;
  right: 0;
  left: 10%;
  bottom: 80%;
  margin: auto;
  width: 150px;
  animation: feather 5s ease-in-out 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  transform-origin: 0% 50%;
}

@keyframes feather {
  0% {
    transform: rotate(50deg) translate(0px, 50px);
  }
  25% {
    transform: rotate(90deg) translate(50px, 100px);
  }
  50% {
    transform: rotate(50deg) translate(100px, 50px);
  }
  75% {
    transform: rotate(90deg) translate(150px, 100px);
  }
  100% {
    transform: rotate(70deg) translate(175px, 75px);
  }
}

#start{
  margin: auto;
  display: block;
  padding-top:15%;
}

#bselect{
  font-size:50px;
  font-weight: bold;


}

img{
  border-radius: 25px;

}

h5.lpadder{
  margin-left: 10%;
}

h5 a{
  padding: 10px 20px; 
  border-radius: 25px;
}

h4{
}
.hvr-radial-in {
    color:#ffffff;

  background: #2ecc71;
 
}

.hvr-radial-in:before {
    color:#ffffff;

  background: #27ae60;
}

.infom{
  background-color: #ffffff;
  font-size: 1.3em;

}

.exit{
    background-color: #f39c12;

}
.bdes{
  background-color: #ffffff;
       border-radius: 25px;
float:right;
}

.bpic{
float:left;
}

.sname{
    font-family: 'Josefin Slab', serif;

   font-style: italic;
}
.infop{
  padding-top: 5%;
}

.names{
   background-size: 100%;
     background-color: #ffffff;

}

.slidern{
text-shadow: 1px 1px  #000;

}

.snames{
 text-shadow: 1px 1px  #000;
font-style: italic;
font-family: 'Josefin Slab', serif;



}

.hvr-bubble-left:before {
  border-color: transparent #ffffff transparent transparent;
}


